:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navyblue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--lightslate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navybluemodal: #2e2f42;
	--grey: #2e2f42;
	--white: #ffffff;
	--dairy: #fcfcfc;
	--activehover: #000000;
}
* {
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
	color: var(--slate);
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.container {
	display: flex;
	max-width: 1158px;
}
.top {
	width: 1158px;
	height: 72px;
	border-bottom: 1px solid rgba(231, 233, 252, 1);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.logo {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 21px;
	letter-spacing: 0.03em;
	text-decoration: none;
}
.web {
	color: var(--iris);
}
.studio {
	color: var(--navyblue);
}
.navi {
	display: flex;
	gap: 20px;
	list-style: none;
	margin-right: 100px;
}
.item-navi {
	font-family: "Roboto", sans-serif;
	color: var(--navyblue);
	font-weight: 500;
	text-decoration: none;
}
.contact {
	gap: 40px;
	display: flex;
	list-style: none;
	padding-left: 0px;
	padding-right: 0px;
}
.item-contact {
	font-family: "Roboto", sans-serif;
	color: var(--slate);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.item-contact:hover,
.logo:hover,
.item-navi:hover,
.interactive:hover {
	color: var(--ocean);
	text-decoration-line: underline;
	border-radius: 2px;
}
.item-contact:focus,
.logo:focus,
.item-navi:focus,
.interactive:focus {
	text-decoration-line: underline;
	border-radius: 2px;
}
.menu {
	justify-content: center;
	display: flex;
	gap: 24px;
	list-style: none;
	padding-left: 0px;
	margin-top: 48px;
}
.menu:first-child {
	margin-left: 427px;
}
.item-menu {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.04em;
	border-radius: 4px;
	border: none;
	line-height: 1.5;
}
.item-menu:hover,
.item-menu:focus {
	cursor: pointer;
	color: var(--white);
	background-color: var(--ocean);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
		0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
		--------------------
}

.header-one {
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--white);
}
.dark-bg {
	background-color: var(--navyblue);
	color: var(--cloud);
}
.b-one {
	text-align: left;
	color: var(--white);
	background-color: var(--iris);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	border: none;
}
.b-one:hover,
.b-one:focus {
	background-color: var(--ocean);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.header-three {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-align: left;
	color: var(--navyblue);
}
.header-two {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--navyblue);
}
.footer {
	color: var(--cloud);
}
.b-two {
	text-align: center;
	background-color: var(--cloud);
	color: var(--iris);
	border: 1px solid var(--cornflower);
}
.item-button:hover,
.item-button:focus {
	color: var(--white);
	background-color: var(--ocean);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
		0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
